In [1]:
import docplex

In [7]:

# Teams in 1st division
TEAM_DIV1 = ["Baltimore Ravens","Cincinnati Bengals", "Cleveland Browns","Pittsburgh Steelers","Houston Texans",
                "Indianapolis Colts","Jacksonville Jaguars","Tennessee Titans","Buffalo Bills","Miami Dolphins",
                "New England Patriots","New York Jets","Denver Broncos","Kansas City Chiefs","Oakland Raiders",
                "San Diego Chargers"]

# Teams in 2nd division
TEAM_DIV2 = ["Chicago Bears","Detroit Lions","Green Bay Packers","Minnesota Vikings","Atlanta Falcons",
                "Carolina Panthers","New Orleans Saints","Tampa Bay Buccaneers","Dallas Cowboys","New York Giants",
                "Philadelphia Eagles","Washington Redskins","Arizona Cardinals","San Francisco 49ers",
                "Seattle Seahawks","St. Louis Rams"]

In [8]:
from collections import namedtuple
NUMBER_OF_MATCHES_TO_PLAY = 2  # Number of match to play between two teams on the league

T_SCHEDULE_PARAMS = (namedtuple("TScheduleParams",
                                ["nbTeamsInDivision",
                                 "maxTeamsInDivision",
                                 "numberOfMatchesToPlayInsideDivision",
                                 "numberOfMatchesToPlayOutsideDivision"
                                 ]))
# Schedule parameters: depending on their values, you may overreach the Community Edition of CPLEX
SCHEDULE_PARAMS = T_SCHEDULE_PARAMS(5,   # nbTeamsInDivision
                                    10,  # maxTeamsInDivision
                                    NUMBER_OF_MATCHES_TO_PLAY,  # numberOfMatchesToPlayInsideDivision
                                    NUMBER_OF_MATCHES_TO_PLAY   # numberOfMatchesToPlayOutsideDivision
                                    )

In [11]:
SCHEDULE_PARAMS

TScheduleParams(nbTeamsInDivision=5, maxTeamsInDivision=10, numberOfMatchesToPlayInsideDivision=2, numberOfMatchesToPlayOutsideDivision=2)

In [12]:
import pandas as pd

team1 = pd.DataFrame(TEAM_DIV1)
team2 = pd.DataFrame(TEAM_DIV2)
team1.columns = ["AFC"]
team2.columns = ["NFC"]

teams = pd.concat([team1,team2], axis=1)

In [13]:
teams

                     AFC                   NFC
0       Baltimore Ravens         Chicago Bears
1     Cincinnati Bengals         Detroit Lions
2       Cleveland Browns     Green Bay Packers
3    Pittsburgh Steelers     Minnesota Vikings
4         Houston Texans       Atlanta Falcons
5     Indianapolis Colts     Carolina Panthers
6   Jacksonville Jaguars    New Orleans Saints
7       Tennessee Titans  Tampa Bay Buccaneers
8          Buffalo Bills        Dallas Cowboys
9         Miami Dolphins       New York Giants
10  New England Patriots   Philadelphia Eagles
11         New York Jets   Washington Redskins
12        Denver Broncos     Arizona Cardinals
13    Kansas City Chiefs   San Francisco 49ers
14       Oakland Raiders      Seattle Seahawks
15    San Diego Chargers        St. Louis Rams

In [14]:
import numpy as np
NB_TEAMS = 2 * SCHEDULE_PARAMS.nbTeamsInDivision
TEAMS = range(NB_TEAMS)

# Calculate the number of weeks necessary
NB_WEEKS = (SCHEDULE_PARAMS.nbTeamsInDivision - 1) * SCHEDULE_PARAMS.numberOfMatchesToPlayInsideDivision \
            + SCHEDULE_PARAMS.nbTeamsInDivision * SCHEDULE_PARAMS.numberOfMatchesToPlayOutsideDivision


# Weeks to schedule
WEEKS = tuple(range(NB_WEEKS))

# Season is split into two halves
FIRST_HALF_WEEKS = tuple(range(NB_WEEKS // 2))
NB_FIRST_HALS_WEEKS = NB_WEEKS // 3

In [19]:
NB_FIRST_HALS_WEEKS

6

In [20]:
from docplex.cp.model import *

mdl = CpoModel(name="SportsScheduling")

# Variables of the model
plays = {}
for i in range(NUMBER_OF_MATCHES_TO_PLAY):
    for t1 in TEAMS:
        for t2 in TEAMS:
            if t1 != t2:
                plays[(t1, t2, i)] = integer_var(1, NB_WEEKS, name="team1_{}_team2_{}_match_{}".format(t1, t2, i))

In [21]:
# Constraints of the model
for t1 in TEAMS:
    for t2 in TEAMS:
        if t2 != t1:
            for i in range(NUMBER_OF_MATCHES_TO_PLAY):
                mdl.add(plays[(t1, t2, i)] == plays[(t2, t1, i)])  ### symmetrical match t1->t2 = t2->t1 at the ieme match

In [22]:
for t1 in TEAMS:
    mdl.add(all_diff([plays[(t1, t2, i)] for t2 in TEAMS if t2 != t1 for i in
                      range(NUMBER_OF_MATCHES_TO_PLAY)]))  ### team t1 must play one match per week

In [23]:
# Function that returns 1 if the two teams are in same division, 0 if not
def intra_divisional_pair(t1, t2):
    return int((t1 <= SCHEDULE_PARAMS.nbTeamsInDivision and t2 <= SCHEDULE_PARAMS.nbTeamsInDivision) or
               (t1 > SCHEDULE_PARAMS.nbTeamsInDivision and t2 > SCHEDULE_PARAMS.nbTeamsInDivision))

# Some intradivisional games should be in the first half
mdl.add(sum([intra_divisional_pair(t1, t2) * allowed_assignments(plays[(t1, t2, i)], FIRST_HALF_WEEKS) 
             for t1 in TEAMS for t2 in [a for a in TEAMS if a != t1] 
             for i in range(NUMBER_OF_MATCHES_TO_PLAY)]) >= NB_FIRST_HALS_WEEKS)

In [24]:
# Objective of the model is to schedule intradivisional games to be played late in the schedule
sm = []
for t1 in TEAMS:
    for t2 in TEAMS:
        if t1 != t2:
            if not intra_divisional_pair(t1, t2):
                for i in range(NUMBER_OF_MATCHES_TO_PLAY):
                    sm.append(plays[(t1, t2, i)])
mdl.add(maximize(sum(sm)))

In [25]:
n = 25
msol = mdl.solve(TimeLimit=n)

In [26]:
if msol:
    abb = [list()  for i in range(NB_WEEKS)]
    for t1 in TEAMS:
        for t2 in TEAMS:
            if t1 != t2:
                for i in range(NUMBER_OF_MATCHES_TO_PLAY):
                    x = abb[msol.get_value(plays[(t1, t2, i)])-1]
                    x.append((TEAM_DIV1[t1], TEAM_DIV2[t2], "Home" if i == 1 else "Back", intra_divisional_pair(t1, t2)))
                
    matches = [(week, t1, t2, where, intra) for week in range(NB_WEEKS) for (t1, t2, where, intra) in abb[week]]
    matches_bd = pd.DataFrame(matches)
    
    nfl_finals = [("2014", "Patriots", "Seahawks"),("2013", "Seahawks", "Broncos"),
                  ("2012", "Ravens", "Patriots"),("2011", "Giants", "Patriots "),
                  ("2010", "Packers", "Steelers"),("2009", "Saints", "Colts"),
                  ("2008", "Steelers", "Cardinals"),("2007", "Giants", "Patriots"),
                  ("2006", "Colts", "Bears"),("2005", "Steelers", "Seahawks"),
                  ("2004", "Patriots", "Eagles")]
                
    winners_bd = pd.DataFrame(nfl_finals)
    winners_bd.columns = ["year", "team1", "team2"]
    
    display(winners_bd)
else:
    print("No solution found")

    year     team1      team2
0   2014  Patriots   Seahawks
1   2013  Seahawks    Broncos
2   2012    Ravens   Patriots
3   2011    Giants  Patriots
4   2010   Packers   Steelers
5   2009    Saints      Colts
6   2008  Steelers  Cardinals
7   2007    Giants   Patriots
8   2006     Colts      Bears
9   2005  Steelers   Seahawks
10  2004  Patriots     Eagles

In [28]:
if msol:
    months = ["January", "February", "March", "April", "May", "June", 
              "July", "August", "September", "October", "November", "December"]
    report = []
    for t in nfl_finals:
        for m in matches:
            if t[1] in m[1] and t[2] in m[2]:
                report.append((m[0], months[m[0]//4], m[1], m[2], m[3]))
            if t[2] in m[1] and t[1] in m[2]: 
                report.append((m[0], months[m[0]//4], m[1], m[2], m[3]))

    matches_bd = pd.DataFrame(report)
    matches_bd.columns = ["week", "Month", "Team1", "Team2", "location"]
    try: #pandas >= 0.17
        display(matches_bd[matches_bd['location'] != "Home"].sort_values(by='week').drop(labels=['week', 'location'], axis=1))
    except:
        display(matches_bd[matches_bd['location'] != "Home"].sort('week').drop(labels=['week', 'location'], axis=1))

      Month                Team1               Team2
5  February   Indianapolis Colts       Chicago Bears
1       May  Pittsburgh Steelers   Green Bay Packers
3       May   Indianapolis Colts  New Orleans Saints