In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train/train.csv')
test = pd.read_csv('test/test.csv')
item_data = pd.read_csv('train/item_data.csv')
camp_data = pd.read_csv('train/campaign_data.csv')
cust_demo = pd.read_csv('train/customer_demographics.csv')
cust_trans = pd.read_csv('train/customer_transaction_data.csv')
item_map = pd.read_csv('train/coupon_item_mapping.csv')

# Data Preparation

In [3]:
train['data'] = 'train'
test['redemption_status'] = 0
test['data'] = 'test'

In [4]:
train.head()

   id  campaign_id  coupon_id  customer_id  redemption_status   data
0   1           13         27         1053                  0  train
1   2           13        116           48                  0  train
2   6            9        635          205                  0  train
3   7           13        644         1050                  0  train
4   9            8       1017         1489                  0  train

In [5]:
test.head()

   id  campaign_id  coupon_id  customer_id  redemption_status  data
0   3           22        869          967                  0  test
1   4           20        389         1566                  0  test
2   5           22        981          510                  0  test
3   8           25       1069          361                  0  test
4  10           17        498          811                  0  test

In [8]:
df = pd.concat([train, test], ignore_index=True)

In [9]:
df.head()

   id  campaign_id  coupon_id  customer_id  redemption_status   data
0   1           13         27         1053                  0  train
1   2           13        116           48                  0  train
2   6            9        635          205                  0  train
3   7           13        644         1050                  0  train
4   9            8       1017         1489                  0  train

In [10]:
df.tail()

            id  campaign_id  coupon_id  customer_id  redemption_status  data
128590  128584           20        843          501                  0  test
128591  128588           25        415          481                  0  test
128592  128591           25        596         1336                  0  test
128593  128593           22        518          748                  0  test
128594  128594           18        988          851                  0  test

# Feature Extraction

In [14]:
item_map[item_map['coupon_id']==843]

       coupon_id  item_id
11999        843    65854
12008        843    65894
12016        843    65895
12022        843    65905
12054        843    66031
12080        843    66078
12086        843    66094
13096        843    73540

In [15]:
cust_trans[(cust_trans['customer_id']==501) & (cust_trans.item_id.isin(item_map[item_map['coupon_id']==843]['item_id']))]

Empty DataFrame
Columns: [date, customer_id, item_id, quantity, selling_price, other_discount, coupon_discount]
Index: []

This comparison checks for items against a specific coupon id and items a customers bought (for a specific customer)

In [20]:
a = set(item_map[item_map['coupon_id']==843]['item_id'].tolist())
b = set(cust_trans[(cust_trans['customer_id']==501)]['item_id'].tolist())
a.intersection(b)

set()